body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.all-section {
  text-align: center;
}

/* ===== SECTION 1 - NAVIGASI ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-image: linear-gradient(to right, #0d6efd, rgb(14, 28, 151));
  color: white;
}
nav .brand {
  width: 40%;
  font-size: 22px;
  font-weight: bold;
}
nav ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* ===== SECTION 2 - HEADER ===== */
.header-section {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 50px 40px;
  align-items: center;
  gap: 40px;
}
.header-section img {
  width: 80%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.header-text {
  width: 80%;
}
.header-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.header-text p {
  margin-bottom: 20px;
}
.header-text button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ===== SECTION 3 - BIODATA ===== */
.biodata {
  width: 100%;
  padding: 50px 40px;
  background: #f2f2f2;
}
.biodata h2 {
  font-size: 28px;
}
.box-container {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  justify-content: center;
  gap: 20px;
}
.box {
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box span {
  font-weight: bold;
}

/* ===== SECTION 4 - PORTOFOLIO ===== */
.portfolio {
  padding: 50px 40px;
}
.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
}
.portfolio-item {
  width: 400px;
  display: grid;
  justify-items: center;
  border-radius: 10px;
  border: 2px solid gray;
}

.portfolio-card {
  margin-bottom: 10px;
  border-radius: 8px;
  width: 100%;
  height: 150px;
}

.satu {
  background-image: url(img/1.jpeg);
  background-position: top;
  background-size: cover;
}

.dua {
  background-image: url(img/2.jpeg);
  background-position: top;
  background-size: cover;
}

.tiga {
  background-image: url(img/3.jpeg);
  background-position: top;
  background-size: cover;
}

.portfolio-items h6 {
  font-weight: bold;
}

/* ===== SECTION 5 - FOOTER ===== */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  background-image: linear-gradient(to right, #0d6efd, rgb(14, 28, 151));
  color: white;
}
