body {
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  border: solid red 1px;
}

.all-section {
  text-align: center;
}

/* ===== SECTION 1 - NAVIGASI ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-image: linear-gradient(to right, #0d6efd, rgb(14, 28, 151));
  color: white;
}
nav .brand {
  font-size: 22px;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* ===== SECTION 2 - HEADER ===== */
.header-section {
  display: flex;
  justify-content: center;
  padding: 50px 40px;
  align-items: center;
  gap: 40px;
}
.header-section img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.header-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.header-text p {
  margin-bottom: 20px;
}
.header-text button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ===== SECTION 3 - BIODATA ===== */
.biodata {
  padding: 50px 40px;
  background: #f2f2f2;
}
.biodata h2 {
  font-size: 28px;
}
.box-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.box {
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box span {
  font-weight: bold;
}

/* ===== SECTION 4 - PORTOFOLIO ===== */
.portfolio {
  padding: 50px 40px;
}
.portfolio-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.portfolio-item {
  width: 350px;
  height: 200px;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

.portfolio-card {
  margin: -20px auto;
  width: 300px;
  height: 150px;
  background: #ddd;
}
/* .portfolio-item h3 {
  margin-top: 240px;
  margin-bottom: 5px;
  font-size: 20px;
}
.portfolio-item p {
  margin: 0;
} */
